.title{
  font-weight: 200;
}
.dashboard-widgets{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px,5fr));
}
.header{
  display: flex;
  align-items: center;
}

.is-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-text-centered{
  text-align: center;
}

mat-card{
  background-color: whitesmoke;
}
.mat-icon{
  margin-top: 10px;
}
.bg-success{
  background-color:  rgb(169 208 179);
 }
 .bg-accent{
  background-color: rgb(248 226 135);
 }
 .bg-warn{
  color: rgb(255 255 255);
  background-color:#8f0045;
 }
 .bg-tertiary{
  background-color: rgb(102 94 64);
  color: rgb(255 249 238);

 }
 .size{
  margin-right: 10px;
 }

.chiffres{
  display: flex;
  gap: 12px;
  margin: -9px 0 1.2em 0;
}

.is-big{
  font-size: 2.9em;
}
.box{
  max-height: 100px;
  max-width: 120px;
}
