@defer {
  <div class="header">
    <h2 class="is-light-title">Tableau de bord </h2>

  </div>

  <div class="chiffres">
     <!-- total demand mission  current month   -->
    <mat-card >
      <mat-card-header>
        <mat-card-subtitle>
          Demande de  missions mois de  Décembre
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="is-center has-text-centered">
         <h1> {{ numberOfMissionOncurrent() }}</h1>
      </mat-card-content>
    </mat-card>
    <!-- total money spends     -->
    <mat-card >
      <mat-card-header>
        <mat-card-title>
          Montant total frais de mission
        </mat-card-title>
        <mat-card-subtitle>
          <mat-icon style=""> monetization_on</mat-icon><br/>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="is-center has-text-centered">
         <h1> {{ totalSpending()    | currency:'XOF':'code'  }}</h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="dashboard-widgets">
    <!-- doughnut card-->
    <app-doughnut-chart ></app-doughnut-chart>

    <!-- chart bart total about status mission--->
    <app-bar-chart></app-bar-chart>


  </div>
  <div class="dashboard-widgets">
  <!--polar area chart-->
  <app-polar-area-chart></app-polar-area-chart>
  <!--linear chart-->
  <app-radar-chart></app-radar-chart>
  </div>


} @placeholder {
  <div>Chargement de la liste...</div>
} @loading {
  <div class="is-center">
    <app-loading-spinner />
  </div>
} @error {
  <div>Erreur de chargement</div>
}
