
<!-- toolbar & navbar-->
<mat-toolbar   color="secondary" >
  <button mat-icon-button class="example-icon"    color="secondary"
          (click)="drawer.toggle()"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gestion des ordres de mission</span>
  <span class="example-spacer"></span>


</mat-toolbar>
<!-- end toolbar -->

<!-- SIDENAV-->
<mat-drawer-container class="example-container" autosize >
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="opened"  >
    <!-- Creates a layout with a left-positioned sidenav and explicit content. -->
    <mat-sidenav-container  >
      <mat-sidenav>Start</mat-sidenav>
      <mat-sidenav-content  class="container" >
        <!-- content-->
          <router-outlet></router-outlet>
        <!-- content -->
      </mat-sidenav-content>
    </mat-sidenav-container>

  </mat-drawer>
</mat-drawer-container>


