.card-pdf{
  max-width: 400px;
  padding: 0 5px 15px 5px;

}
.btn{
  max-width: 230PX;
  margin: 1.2em 0 0 0;
}
.main{
  margin: 2.1em 0 0 0;
}
.is-center{
  align-items: center;
  display: flex;
  justify-content: center;
}