
@use '@angular/material' as mat;
 $theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
    )
);


@mixin theme($theme) {
  app-navbar {
    color: mat.get-theme-color($theme, primary);

    mat-toolbar {
      background: mat.get-theme-color($theme, primary-container);
    }
  }
}


:root {
  @include mat.all-component-themes($theme);
 @include theme($theme);
  mat-toolbar {
    --mat-sys-on-primary-fixed-variant: #8f0045;
    --mat-toolbar-container-background-color:  #ffd9e1;
    --mat-toolbar-container-text-color: var(--mat-sys-primary);

  }

}
